<div class="min-h-screen flex flex-col">
  <nav class="bg-blue-600 text-white p-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center  text-xl font-bold">
        Plumbing Co
        <img src="https://www.svgrepo.com/show/1976/plumber.svg" class="w-6 h-6" alt="logo" />
      </div>

      <!-- Hamburger Icon -->
      <button class="md:hidden ml-auto" (click)="isMenuOpen = !isMenuOpen">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

    <!-- Menu Links -->
    <div
      class="flex-col no-underline items-center space-y-2 md:space-y-0 md:flex md:flex-row md:justify-center md:space-x-6 text-center"
      [ngClass]="{ 'hidden': !isMenuOpen, 'flex': isMenuOpen, 'md:flex': true }">
      <a routerLink="/" class="hover">Home</a>
      <a routerLink="/services" class="hover:">Services</a>
      <a routerLink="/about" class="">About</a>
      <a routerLink="/contact" class="hover">Contact</a>
      <a routerLink="/faq" class="hover">FAQ</a>
    </div>
  </nav>

  <main class="flex-grow">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-gray-800 text-white text-center p-4">
    &copy; 2025 Plumbing Co. All rights reserved.
  </footer>
</div>
