<section id="about" class="about-section py-20 bg-white">
  <div class="about-container max-w-4xl mx-auto px-4">
    <h2 class="text-3xl md:text-4xl font-bold text text-blue-700  gap-3 mb-6 md:text-center">
     About Us  
    </h2>

    <p class="text-white-700 text-lg mb-4">
      We are a <strong>family-owned and operated plumbing company</strong> proudly based in <strong>New York State</strong>, serving our neighbors with dedication and care for over <strong>20 years</strong>.
    </p>

    <p class="text-white-700 text-lg mb-6">
      Whether it’s a small leak or a full-scale installation, our licensed & insured professionals are committed to providing <strong>fast, guaranteed, and friendly service</strong> — every time.
    </p>

    
  </div>
</section>
